<div style="margin-top:-10px;margin-bottom:5px;width: 120px;float: right;font-size: 12px;">
  <font color="#aaa">
    <span class="post-time">
      <span class="post-meta-item-icon">
        <i class="fas fa-keyboard"></i>
        <span class="post-meta-item-text"> </span>
        <span class="post-count"><%= wordcount(post.content) %>字</span>
      </span>
    </span>

    <span class="post-time">
      |
      <span class="post-meta-item-icon">
        <i class="fa fa-hourglass-half"></i>
        <span class="post-meta-item-text"> </span>
        <span class="post-count"><%= min2read(post.content) %>分</span>
      </span>
    </span>
  </font>
    
</div><br/>