<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		 (ง •̀_•́)ง
    	</div>
      	<div class="footer-right">
      		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
      	</div>
    </div>
  </div>
</footer>
<!--增加不蒜子统计-->
<script  async  src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
